@model dynamic
@{
    ViewData["Title"]="Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizMIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuizMIS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
<h1>@ViewData["Message"]</h1>

       <div class="container">
        <main role="main" class="pb-3">

            <h2>Student Dashboard<h2>
            <br>
            <h3>Student Details</h3>
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Id</th>
                <th scope="col">Branch</th>
                <th scope="col">CurrentYear</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">  @Model.Student.StudentName </th>
                    <td> @Model.Student.TeacherId </td>
                    <td> @Model.Student.Branch</td>
                    <td> @Model.Student.CurrentYear</td>
                </tr>
            </tbody>
            </table>
        </main>
    </div>

 </main>
 <h3> Available Quizes </h3>

             <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">QuizId</th>
                    <th scope="col">Quiz Title</th>
                    <th scope="col">StartTime</th>
                    <th scope="col">EndTime</th>
                    <th>Actions</th>
                    <!--<th>Actions</th>-->
                    </tr>
                </thead>
                <tbody>
                  @foreach (Quiz quiz in Model.Quiz) {
                    <tr>  
                        <th scope="row">  @quiz.QuizId</th>
                            <td> @quiz.QuizTitle</td>
                            <td> @quiz.StartTime</td>
                            <td> @quiz.EndTime</td>
                        <th style="display:flex;" >
                                <button class="btn btn-success mr-3">
                                    <a href="/Quiz/Display/@quiz.QuizId?StudentId=@Model.Student.StudentId" > View</a>
                                </button>
                            </th>
                    </tr>}
                </tbody>
            </table>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
